body {
    background-color: bisque;
}
h1 {
    color: rgb(137, 84, 19);
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 70%;
    margin:auto;
}
.pirmaEilute{
    height: 50px;
}
.receptas:hover
{
    color:rgb(224, 62, 21)
}