body {
    background-color: bisque;
}
h1 {
    color: rgb(137, 84, 19);
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td
{
    max-height: 50px;
}
table {
    margin:auto;
}
.receptas:hover
{
    color:rgb(224, 62, 21)
}
.nuotrauka:hover
{
    color:rgb(224, 62, 21)
}