body {
    background-color: rgb(253, 196, 255);
}
h1 {
    color: rgb(137, 19, 129);
    background-color: rgb(207, 140, 208);
    text-align: center;
}
h2
{
    font-size: x-large;
    color: rgb(137, 19, 125);
}
.pav
{
    height: 606px;
}
ul, ol
{
    color: rgb(136, 41, 27);
    text-align: justify;
    line-height: 2;
    padding-right: 20px;
}
table, td
{
    border: rgb(151, 45, 21) 1px solid;
    vertical-align: top;
    text-align: center;
    margin: auto;
}